:root {
    --color-accent: #ffc300;
    --color-primary: #000000;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.bg-main {
    background-color: var(--color-primary) !important;
}
.bg-accent {
    background-color: var(--color-accent) !important;
    border: none !important;
    color: var(--color-primary) !important;
}

.icon-small {
    width: 25px !important;
    height: 25px !important;
    color: var(--color-primary) !important;
}

.atc {
    font-size: 1.2rem !important;
    font-weight: bold !important;
}

.nav-link {
    font-size: 1.8rem !important;
}
